BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
TabWidth: 4
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesBeforeTrailingComments: 1
SpaceBeforeAssignmentOperators: true

PointerAlignment: Left
ColumnLimit: 120

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2
SortIncludes: true

SeparateDefinitionBlocks: Leave
MaxEmptyLinesToKeep: 3
