[submodule "godot-cpp"]
	path = gd_extensions/godot_cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "gozen-translations"]
	path = gozen_translations
	url = git@github.com:VoylinsGamedevJourney/GoZen-translations.git
[submodule "ffmpeg"]
	path = gd_extensions/gozen_ffmpeg/ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
