[submodule "godot-cpp"]
	path = gd-extensions/godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "gozen-translations"]
	path = gozen-translations
	url = git@github.com:VoylinsGamedevJourney/GoZen-translations.git
[submodule "ffmpeg"]
	path = gd-extensions/gozen-ffmpeg/ffmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
