# Godot ignores
.godot/
.import/
*.translation
*.mo

# Linux dot files
.directory

# Video files (for testing)
*.mkv
*.mp4
*.webm

# Python
__pycache__
*.pyc

## Scons
.sconsign.dblite
config.log
.sconf_temp
.scons-cache
.cache


# C++ ignores
*.so*
*.lib

# Temporary
ol_src
