# Godot ignores
.godot/
.import/
*.mo

# Linux dot files
.directory

# Python
__pycache__
*.pyc

## Scons
.sconsign.dblite
config.log
.sconf_temp
.scons-cache
.cache

# C++ ignores
*.so*
*.lib
*.dll
*.os
*.obj
*.exp
*.a

# Compile commands should be generated with the 'bear' command
compile_commands.json

# Don't save binary files to git
bin/*

# Test file
test.gozen
