name: 03 | Build RPM Package
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        default: test
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        default: test

env:
  GODOT_VERSION: 4.5.1-stable
  EXPORT_FOLDER: bin/linux_x86_64
  APP_NAME: gozen
  RPM_BUILD_DIR: ${{ github.workspace }}/rpmbuild

run-name: 'RPM version: ${{ inputs.version }} by @${{ github.actor }}'
jobs:
  build-linux:
    name: Build Linux
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/build_linux.yml
    with:
      version: ${{ inputs.version }}


  build-rpm:
    needs: [build-linux]
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/compile_package_rpm.yml
    with:
      version: ${{ inputs.version }}

