name: 04 | Build DEB Package
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        default: 0.0

run-name: 'DEB version: v${{ inputs.version }} by @${{ github.actor }}'
env:
  GODOT_VERSION: 4.5.1
  EXPORT_FOLDER: bin/linux_x86_64
  DEB_DIR: ${{ github.workspace }}/gozen-deb
  APP_NAME: gozen

jobs:
  build-linux:
    name: Build Linux
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/build_linux.yml
    with:
      version: v${{ inputs.version }}


  build-deb:
    needs: [build-linux]
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/compile_package_deb.yml
    with:
      version: v${{ inputs.version }}

