name: 0 | Build GoZen
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        type: string
        default: '0.0'

run-name: 'Build GoZen Release: v${{ inputs.version }} by @${{ github.actor }}'
jobs:
  build-linux:
    name: Build Linux
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/build_linux.yml
    with:
      version: v${{ inputs.version }}

  build-appimage:
    name: Build AppImage
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/build_appimage.yml
    with:
      version: v${{ inputs.version }}

  build-rpm:
    needs: [build-linux]
    name: Build RPM
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/compile_package_rpm.yml
    with:
      version: v${{ inputs.version }}

  build-deb:
    needs: [build-linux]
    name: Build DEB
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/compile_package_deb.yml
    with:
      version: v${{ inputs.version }}

  build-windows:
    name: Build Windows
    permissions:
      actions: read
      contents: read
    uses: ./.github/workflows/build_windows.yml
    with:
      version: v${{ inputs.version }}

