name: Compile FFmpeg
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 2 1 * *' # At 02:00 on the 1st of every month
      timezone: 'Asia/Tokyo'

env:
  PATH_LINUX: core/ffmpeg/bin_linux
  PATH_WINDOWS: core/ffmpeg/bin_windows

run-name: Compile FFmpeg
jobs:
  compile-linux-x86_64:
    name: Linux x86_64
    runs-on: ubuntu-22.04
    steps:
      - name: Installing dependencies
        run: |
          sudo add-apt-repository ppa:git-core/ppa
          sudo apt update

          sudo apt-get install -y git git-svn bash yasm nasm python3 python3-pip scons gcc diffutils make wget unzip tar \
          cmake autoconf automake libtool ninja-build pkg-config \
          binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu \
          libnuma-dev fuse libfuse2 desktop-file-utils patchelf

      - name: Checkout submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile FFmpeg
        run: |
          export PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig:$PKG_CONFIG_PATH
          python -m core.build_ffmpeg --platform linux --arch x86_64 --threads 4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg_linux_x86_64
          path: ${{ env.PATH_LINUX }}
          retention-days: 90

  compile-windows-x86_64:
    name: Windows x86_64
    needs: build-windows-deps
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/setup-windows-build-env

      - name: Download all dependencies
        uses: actions/download-artifact@v4
        with:
          pattern: dep_win_x86_64_*
          path: ${{ env.PATH_WINDOWS }}
          merge-multiple: true

      - name: Compile FFmpeg
        working-directory: ./core
        run: python3 -c "import sys; sys.path.append('.'); import build_ffmpeg; build_ffmpeg.build_ffmpeg_windows('x86_64', 4, {})"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg_windows_x86_64
          path: ${{ env.PATH_WINDOWS }}
          retention-days: 90

  build-windows-deps:
    name: Windows dependency ${{ matrix.dep }}
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      fail-fast: false
      matrix:
        dep: [x264, x265, aom, svt_av1, vpx, opus, ogg_vorbis, mp3lame]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/setup-windows-build-env

      - name: Build ${{ matrix.dep }}
        uses: ./.github/actions/build-ffmpeg-dep
        with:
          dep_name: ${{ matrix.dep }}
          arch: x86_64

      - uses: actions/upload-artifact@v4
        with:
          name: dep_win_x86_64_${{ matrix.dep }}
          path: core/ffmpeg/bin_windows
          retention-days: 90
